<head>

		<link rel="stylesheet" href="/assets/css/bootstrap-social.css"> 
	
	</head>
	
	  <div class="footer">
	
		<!-- Row -->
	
				<div class="row">
	
			
	
			   <!-- footer logo -->
	
						<div class="footer-logo col-md-2">
	
							<a [routerLink] = "['/']"><img src="/assets/images/logo1.png" height="35px" width="170px" alt="TechForum"></a>
	
						</div>
	
						<!-- /footer logo -->
						<div class="col-md-6">

								<p>Copyright © 2019. All Rights Reserved. <a href="http://prodapt.com/" target="_blank">Prodapt</a></p>
		
						</div>
	
						<!-- footer follow -->
	
						<div class="col-md-3 pull-right">
	
							<a class="btn btn-social-icon btn-google" href="https://plus.google.com/118198851282838638008/about"><span class="fa fa-google-plus fa-lg"></span></a> &nbsp;
	
							<a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/Prodapt"><span class="fa fa-facebook fa-lg"></span></a>&nbsp;
	
							<a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/30898?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A3068999561454564220959%2CVSRPtargetId%3A30898%2CVSRPcmpt%3Aprimary"><span class="fa fa-linkedin fa-lg"></span></a>&nbsp;
	
							<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/Prodapt"><span class="fa fa-twitter fa-lg"></span></a>&nbsp;
	
							<a class="btn btn-social-icon btn-google" href="https://www.youtube.com/user/channelprodapt"><span class="fa fa-youtube fa-lg"></span></a>&nbsp;
	
							<a class="btn btn-social-icon btn-facebook" href="mailto:"><span class="fa fa-envelope-o fa-lg"></span></a>&nbsp;
	
						</div>
	
						<!-- /footer follow -->
	
						<!-- footer copyright -->
	
						
	
						<!-- /footer copyright -->
	
					
	
				</div>
	
				<!-- /Row -->
	
	 
	
			</div>