<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/assets/css/bootstrap-material-design.css">
</head>


<div class="row">



        <sidebar-left></sidebar-left>
 <div class="col-md-3">
 
</div> 



      <div class="hi col-md-6">
          
          <!-- <div class="page-header">
              <h2>Dashboard</h2>
            </div> -->
<br>
              <ul class="nav nav-tabs" >
                <li class="nav-item in active">
                    <a class="nav-link in active default" id="nav-questions-tab"  data-toggle="tab" href="#nav-questions">Recent Questions
                        <i class="fa fa-comments"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-blogs-tab" data-toggle="tab" href="#nav-blogs">Recent Blogs
                      <i class="fa fa-pencil"></i>
                    </a>
                </li>
            </ul>
<br>

<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade " id="nav-blogs" role="tabpanel" aria-labelledby="nav-blogs-tab">
         
      <div  *ngFor='let blog of blogList' class="blog-div row">
        <aside class="topic-page topic-list blog-list forum-list">
            <article class="well topic-desc row-fluid btn-group-sm clearfix">
                    <div class="col-sm-10">
      
                        <h4><a [routerLink] = "['/blog', blog._id]">{{blog.heading}}</a></h4>
                        <div class="blog-meta clearfix">
                            <small>Written On: {{ blog.modifiedDate | date }}</small>
                            <small>
                              Tags:<button class="btn btn-sm new"><span *ngFor='let tag of blog.tags'><a [routerLink] = "['/blogs']" [queryParams] = "{ tag: tag, pn: 0 }">{{tag}}</a></span></button>
                         
                            </small>
                        </div>
                    
                    </div>
          
              
            </article>
            </aside>
      </div>

<div style="text-align: right">
<a  [routerLink] = "['/blogs']" [queryParams]="{ pn: 0 }">View All Blogs >></a>
</div>

     
</div>



    <div class="tab-pane active in" id="nav-questions" role="tabpanel" aria-labelledby="nav-questions-tab">
          
            <!-- <h4 style="text-align: center">Latest Questions</h4> -->
            <div *ngFor='let question of questionList'>
                <aside class="topic-page topic-list blog-list forum-list">
                    <article class="well topic-desc row-fluid btn-group-sm clearfix">
                   
                            <!-- <div class="col-sm-2 text-center publisher-wrap">
                                <img src="assets/images/avatars/{{question.avatarName}}" alt="" class="avatar img-circle img-responsive">
                                <h5><a [routerLink] = "['/users', question.username]"></a>{{question.username}}</h5>
                                <small class="online">Online</small>
                            </div> -->
                            <div class="col-sm-10">
                                <!-- <header class="topic-footer clearfix">
                                    <ul class="list-inline tags">
                                        <li class="closed"><a href="#">Unanswered</a></li>
                                    </ul>
                              
                                </header> -->
                               
              
                                <h4 class="title1"> <a [routerLink] = "['/question', question._id ]" >{{question.title}}</a></h4>
                                <div class="blog-meta clearfix">
                                    <small class="closed ans list-inline tags"><a href="#">{{question.type}}</a></small>
                                    <small><a [routerLink] ="['/question', question._id ]" fragment="comments-section">{{question.answers || 0}} Comments</a></small>
                                    <small>{{ question.modifiedDate | date }}</small>
                                    <small>in: <span *ngFor='let tag of question.tags'><button class="btn btn-sm"><a [routerLink] = "['/discuss']" [queryParams] = "{ tag: tag, pn: 0 }">{{tag}}</a></button></span></small>
                                </div>
                            
                            </div>
                  
                      
                    </article>
                    </aside>
              </div>
              
              <div style="text-align: right">
                    <a  [routerLink] = "['/discuss']" [queryParams]="{ pn: 0 }">View All Questions >></a>
                    </div>
    
    
    
            </div>
        
  
  
  </div>  

  </div> 






<div class="col-md-3">

</div>
<sidebar-right></sidebar-right>

</div>











