
<sidebar-left></sidebar-left>

<div class="col-md-3">
      
</div>
<div class="col-md-6">

    <aside class="topic-page topic-list blog-list forum-list">
        <article class="well btn-group-sm clearfix">
      
          <div class="page-header">
            <h2>Write a New Blog</h2>
          </div>
          <form>
            <div class="form-group">
              <label for="heading">Heading</label>
              <input type="text" class="form-control" [(ngModel)] = "heading" name="heading" id="heading" required/>
            </div>
            <div class="form-group">
              <label for="tags">Categories</label>
              <input type=text class="form-control" [(ngModel)] = "tag" name = "tag"/><br>
              <button  style="margin-left: 1px" class="btn btn-primary btn-sm" (click) = 'addTag()'>Add Category</button>
            </div>
            <div class="added-tags" *ngIf="tags.length > 0">
              <h5>Added Categories (click to remove )</h5>
              <button style="margin-left: 1px" class="tag-button btn btn-sm btn-info" *ngFor="let tag of tags" (click)="removeTag(tag)">{{tag}}</button>
            </div>
            <h4>Description</h4>
            <editor (onEditorContentChange) = "tinyResponce($event)"></editor>
            <div style= "text-align: center">
            <button (click)="submitBlog()" class="btn btn-sm btn-primary submit-btn" style= "width: 120px" type="submit">Submit</button>
          </div>
          </form>

          
        </article>
        </aside>

</div>
<div class="col-md-3">
      
</div>

<sidebar-right></sidebar-right>



