<head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
   
    <style>
    .topic-page .forum-list{
margin: 1 1 1 1;
}

    </style>
    
    </head>
      
<sidebar-left></sidebar-left>

<div class="col-md-3"></div>




<div class="col-md-6" style="margin-top: -25px">



<div class="row">

    <aside class="topic-page  forum-list" style="margin: 0">
    <article class="well btn-group-sm clearfix">


  <div class="page-header">
    <div class="row">
      <div class="col-xs-6">
          <div class="backbtn" style="text-align: left">
              <a class="btn btn-primary btn-sm" [routerLink] = "['/discuss']" [queryParams] = "{ pn: 0 }" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Questions</a>
            </div>
      </div>

      <div clas="col-xs-6" > 
        <div *ngIf="editable" class="editbtn" style="text-align: center"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-sm" [routerLink]="['/editQuestion']" [queryParams] = "{ id: question._id }"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
      </div>
      </div>
    </div>
  </div>



  <div class="col-sm-10">
      <header class="topic-footer clearfix">
          <ul class="list-inline tags">
              <li class="closed"><a href="#">UnAnswered</a></li>
          </ul>
    
      </header>

      <div>
          <small><a href="#comments-section" id="comments-section">{{question.answers || 0}} Replies &nbsp;</a></small>
          <small>{{ question.modifiedDate | date }}</small>
  </div>
  </div>

  <form>
      <div class="form-group">
          <div class="col-sm-12">
          <label for="title">Title:</label>
          <input type=text class="form-control"  [(ngModel)] = "question.title" name = "title" disabled/>
        </div>
    </div><br>
    <div class = "col-sm-12"> <br>
        <label for="skills">Categories: &nbsp;</label>
        <span *ngFor = "let tag of question.tags">
        <button class="btn btn-sm " style="margin-left: -4px"><a [routerLink] = "['/discuss']" [queryParams] = "{ tag: tag, pn: 0 }">{{tag}}</a></button>
        </span>
    </div>
    
    <div class="col-sm-12"> <br>
    <label>Description:</label>
    <p><a  [innerHtml] = "question.question | tinyInput"></a></p>
    </div>
  </form>




  <div class="topic-meta ">
      <div class="pull-left">
          <a class="btn btn-default btn-fab btn-fab-mini" href="#" data-toggle="tooltip" data-placement="bottom" title="Upvote">
              <i class="material-icons">thumb_up</i>
          </a>
          <a class="btn btn-default btn-fab btn-fab-mini" href="#" data-toggle="tooltip" data-placement="bottom" title="Downvote">
              <i class="material-icons">thumb_down</i>
          </a>
          <a class="btn btn-default btn-fab btn-fab-mini" href="#" data-toggle="tooltip" data-placement="bottom" title="Save">
              <i class="material-icons">bookmark_border</i>
          </a>
      </div>
    
      <div class="pull-right">   
          <div class="customshare">
              <div class="list">
                  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AnswerModal" ><i class="fa fa-pencil" aria-hidden="true"></i> Write a Comment</button>
                  <button class="btn btn-primary btn-sm"><i class="material-icons">share</i>
                      <ul class="list-inline">
                          <li><a href="https://www.skype.com" class="tw"><i class="fa fa-skype"></i></a></li>
                          <li><a href="https://www.outlook.com" class="fb"><i class="fa fa-envelope"></i></a></li>
                      </ul>
                    </button>
              </div>
          </div>
      </div>
   
  </div>




</article>
</aside>
</div>

<div class="row " id="comments-section">
    <aside class="topic-page  forum-list" style="margin: 0">
        <article class="well btn-group-sm clearfix">


    <h3>Comments</h3>
        <div *ngFor="let answer of answerList" class="answers">
        <aside class="topic-page forum-list" style="margin: 0">
        <article class="well1 well btn-group-sm clearfix">
       
      <div class="col-sm-10">
           
          <div>
              <label> Posted by <a data-toggle="modal" data-target="#UserModal">{{answer.username}}</a></label>
              <small style="text-align: right">  on {{answer.modifiedDate | date}}</small>
      </div>
      </div>
    <br>
      <form>
        <div class="col-sm-12">     
        <div [innerHtml]="answer.body | tinyInput" class="answer-body"></div>
        </div>
      </form>    
      <div *ngIf="answer.username === this.username" class="editAnsBtn" style="text-align: right" >
            <button class="btn btn-sm btn-primary" (click)="editAnswer(answer)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
    </div>
    </article>
   
    </aside>
    </div>

        <!-- Modal -->
        <div id="AnswerModal" class="modal fade" role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Post your Comment here</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Your Comment</h4>
                        <editor (onEditorContentChange) = "tinyResponse($event)"></editor>
                        <div style= "text-align: center">
                        <button (click)="submitAnswer()" class="btn btn-sm btn-primary submit-btn" style= "width: 120px" type="submit">Submit</button>
                      </div>
                      </div>
                    </div>
                </div>
            </div>

                <!-- Modal -->
        <div id="UserModal" *ngFor="let answer of answerList" class="modal fade " role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">About User</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group" >
          
                                  <label for="username">Username</label>
                                  <input type="text" class="form-control form-input" [(ngModel)] = "answer.username" id="username" name="username" disabled required>
                        
                        </div>


                      
                      </div>
                    </div>
                </div>
            </div>
        




        </article>
</aside>
</div>

</div>
<div class="col-md-3"></div>

<sidebar-right></sidebar-right>




























<!-- <div class="row">
  <h4>Answers</h4>
  <div *ngFor="let answer of answerList" class="answers">
    <div class="row">
      <div class="col-sm-4">
        By - <a [routerLink]="['/users', answer.username ]">{{answer.username}}</a>
      </div>
      <div class="col-sm-4 editAnsBtn">
        On - {{answer.modifiedDate | date}}
      </div>
      <div *ngIf="answer.username === this.username" class="col-sm-4 editAnsBtn">
        <button class="btn btn-sm btn-primary" (click)="editAnswer(answer)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
      </div>
    </div>
    <div [innerHtml]="answer.body | tinyInput" class="answer-body">
    </div>
  </div>
</div> -->





