<head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
      
<sidebar-left></sidebar-left>

<div class="col-md-3"></div>




<div class="col-md-6" style="margin-top: -25px">

<div class="row">

    <aside class="topic-page  forum-list" style="margin: 0">
    <article class="well btn-group-sm clearfix">


  <div class="page-header">
    <div class="row">
      <div class="col-xs-6">
          <div class="backbtn" style="text-align: left">
              <a class="btn btn-primary btn-sm" [routerLink] = "['/dashboard']" ><i class="fa fa-arrow-left" aria-hidden="true"></i> Go to Dashboard</a> &nbsp;
              <a class="btn btn-primary btn-sm" [routerLink] = "['/discuss']" [queryParams] = "{ pn: 0 }" ><i class="fa fa-comments" aria-hidden="true"></i> My Questions</a>
            </div>

      </div>

      <!-- <div clas="col-xs-6" > 
        <div *ngIf="editable" class="editbtn" style="text-align: center"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-sm" [routerLink]="['/editQuestion']" [queryParams] = "{ id: question._id }"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
      </div>
      </div> -->
    </div>
  </div>



  <!-- <div class="col-sm-10">
      <header class="topic-footer clearfix" style="font-size: 12px">
          <ul class="list-inline tags"> &nbsp;
              <li class="closed"><a href="#">{{question.type}}</a></li>
          </ul>
    
      </header>


  </div> -->

  <form>
      <div class="form-group">
          <div class="col-sm-12">
          <label for="title">Title:</label>
          <input type=text class="form-control"  [(ngModel)] = "question.title" name = "title" disabled/>
        </div>
    </div><br>

    <div class="topic-footer clearfix col-sm-12">  <br>
      &nbsp;<small class="list-inline tags closed"><a href="#">{{question.type}}</a></small>
      <small><a href="#comments-section" id="comments-section">{{question.answers || 0}} Comments </a></small>
      <small>{{ question.modifiedDate | date }}</small>
      <small> by <a>{{question.username}}</a></small>
    </div>


    <div class = "col-sm-12"> <br>
        <label for="skills">Categories: &nbsp;</label><br>
        <span *ngFor = "let tag of question.tags">&nbsp;
        <button class="btn btn-sm new" style="margin-left: -4px"><a [routerLink] = "['/discuss']" [queryParams] = "{ tag: tag, pn: 0 }">{{tag}}</a></button>
        </span>
    </div>
    
    <div class="col-sm-12"> <br>
    <label>Description:</label>
    <p><a  [innerHtml] = "question.question | tinyInput"></a></p>
    </div>
  </form>



 
  <div class="topic-meta">
      <div class="col-sm-12">
      <div class="pull-left">
         
          <div  *ngIf="question.username !== this.username">
              <a  data-toggle="tooltip" data-placement="bottom" title="Upvote" >
                <i class="material-icons" style="font-size: 25px;color: green">thumb_up_alt</i>
            </a> &nbsp; 
            <a data-toggle="tooltip" data-placement="bottom" title="Downvote">
                <i class="material-icons" style="font-size: 25px;color: rgb(206, 42, 42)">thumb_down_alt</i>
            </a> &nbsp; 
        


          <a  data-toggle="tooltip" data-placement="bottom" title="Share">
              <i class="material-icons" style="font-size: 25px;color: rgb(226, 196, 60)">share</i>
          </a>  &nbsp;
          <a  data-toggle="tooltip" data-placement="bottom" title="Save">
              <i class="material-icons" style="font-size: 25px;color: rgb(226, 196, 60)">bookmark_border</i>
          </a>
    


        </div>


        <div  *ngIf="question.username == this.username">
       
        <a  data-toggle="tooltip" data-placement="bottom" title="Share">
            <i class="material-icons" style="font-size: 25px;color: rgb(226, 196, 60)">share</i>
        </a>  &nbsp;
        <a  data-toggle="tooltip" data-placement="bottom" title="Save">
            <i class="material-icons" style="font-size: 25px;color: rgb(226, 196, 60)">bookmark_border</i>
        </a>
  


      </div>













      </div>
    
      <div class="pull-right">   
          <div class="customshare">
              <div class="list">

                  
                   
                  <button *ngIf="editable"  class="btn btn-primary editbtn btn-sm" [routerLink]="['/editQuestion']" [queryParams] = "{ id: question._id }"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                  <button style="margin-right: 1px;margin-left: 2px" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AnswerModal" ><i class="fa fa-pencil" aria-hidden="true"></i> Write a Comment</button>
                  <!-- <button class="btn-sm"><i class="material-icons">share</i>
                      <ul class="list-inline">
                          <li><a href="https://www.skype.com" class="tw"><i class="fa fa-skype"></i></a></li>
                          <li><a href="https://www.outlook.com" class="fb"><i class="fa fa-envelope"></i></a></li>
                      </ul>
                    </button> -->
              </div>
          </div>
      </div>
      </div>
  </div>




</article>
</aside>
</div>

<div class="row " id="comments-section">
    <aside class="topic-page  forum-list" style="margin: 0">
        <article class="well btn-group-sm clearfix">


    <h3>Comments</h3>
        <div *ngFor="let answer of answerList" class="answers">
        <aside class="topic-page forum-list" style="margin: 0">
        <article class="well1 well btn-group-sm clearfix">
       
      <div class="col-sm-10">
           
          <div>
              <label> Posted by <a data-toggle="modal" data-target="#UserModal">{{answer.username}}</a></label>
              <small style="text-align: right">  on {{answer.modifiedDate | date}}</small>
      </div>
      </div>
    <br>
      <form>
        <div class="col-sm-12">     
        <div [innerHtml]="answer.body | tinyInput" class="answer-body"></div>
      </div>
      </form> 
      
      
      <div class="col-sm-12">     
      <div *ngIf="answer.username === this.username" class="editAnsBtn" style="text-align: right" >
            <button class="btn btn-sm btn-primary" (click)="editAnswer(answer)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
    </div>
    <div *ngIf="answer.username !== this.username"  style="text-align: left" >
      <a  data-toggle="tooltip" data-placement="bottom" title="Upvote" >
        <i class="material-icons" style="font-size: 20px;color: green">thumb_up_alt</i> 
    </a> &nbsp;
    <a  data-toggle="tooltip" data-placement="bottom" title="Downvote">
        <i class="material-icons" style="font-size: 20px;color: red">thumb_down_alt</i>
    </a> &nbsp;
    
    <!-- <button *ngIf="question.username === this.username" class="btn btn-sm btn-success"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Mark as Solved</button> -->
    
    <a style="text-align: right" *ngIf="question.username === this.username"  data-toggle="tooltip" data-placement="bottom" title="Mark as Correct Answer">
      <i class="material-icons done" style="font-size: 20px;color: grey;">done_outline</i>
    </a> &nbsp;
  
  
  
  </div>
  </div>
    </article>
   
    </aside>
    </div>

        <!-- Modal -->
        <div id="AnswerModal" class="modal fade" role="dialog">
            <div class="modal-dialog " >
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" data-target="#modal">&times;</button>
                        <h4 class="modal-title">Post your Comment here</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Your Comment</h4>
                        <editor (onEditorContentChange) = "tinyResponse($event)"></editor>
                        <div style= "text-align: center">
                        <button (click)="submitAnswer()" class="btn btn-sm btn-primary submit-btn" style= "width: 120px" type="submit">Submit</button>
                      </div>
                      </div>
                    </div>
                </div>
            </div>

                <!-- Modal -->
        <div id="UserModal" *ngFor="let answer of answerList" class="modal fade " role="dialog">
            <div class="modal-dialog ">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" >&times;</button>
                        <h4 class="modal-title">About User</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group" >
          
                                  <label for="username">Username</label>
                                  <input type="text" class="form-control form-input" [(ngModel)] = "answer.username" id="username" name="username" disabled required>              
                        </div>
                      </div>
                    </div>
                </div>
            </div>


        </article>
</aside>
</div>
</div>
<div class="col-md-3"></div>

<sidebar-right></sidebar-right>




























<!-- <div class="row">
  <h4>Answers</h4>
  <div *ngFor="let answer of answerList" class="answers">
    <div class="row">
      <div class="col-sm-4">
        By - <a [routerLink]="['/users', answer.username ]">{{answer.username}}</a>
      </div>
      <div class="col-sm-4 editAnsBtn">
        On - {{answer.modifiedDate | date}}
      </div>
      <div *ngIf="answer.username === this.username" class="col-sm-4 editAnsBtn">
        <button class="btn btn-sm btn-primary" (click)="editAnswer(answer)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
      </div>
    </div>
    <div [innerHtml]="answer.body | tinyInput" class="answer-body">
    </div>
  </div>
</div> -->





