







.page-header {
  text-align: center;
}

.latest {
  border-left: 2px solid #dd312f;
  min-height: 100vh;
  
}

.latest h4 {
  padding: 3px 3px 15px 3px;
}

.question-div, .blog-div {
  padding-bottom: 20px;
}




.feed h3 {
  text-align: center;
}

.feed {
  padding-bottom: 20px;
}

.deleteBtn {
  text-align: right;
}

.feed p {
  font-size: 120%;
}

a:hover {
  text-decoration: underline;
}







.col-sm-3 {
  margin: 5px 0px;
}

.page-header {
  border-bottom: 1px solid orange;
}


button {
  margin: 0px 20px;
}




.welcome-text {
  display: block;
  padding-bottom: 30px;
}


.faqHeader {

  padding: 0 0 20px;
}

.faq_wrapper .panel-heading [data-toggle="collapse"]:after {
  font-family: 'FontAwesome';
  content: "\f107";
  float: right;

  line-height: 37px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faq_wrapper .panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
  color: #454444;
}

.faq_wrapper .panel > .panel-heading,
.faq_wrapper .panel.panel-default > .panel-heading {
  background-color: #fff;
  height: 60px;
  line-height: 60px;
}

.faq_wrapper .panel-title {
  color: inherit;

  line-height: 37px;
  margin: 0;
  padding: 0;
}

.faq_wrapper .panel {
  box-shadow: none;
}











.hi{
margin-top: -25px;
}









