<!-- <head>
  <link rel="stylesheet" href="/assets/css/bootstrap-material-design.css">
</head>
<div  *ngFor='let blog of blogList' class="blog-div row">
  <h4><a [routerLink] = "['/blog', blog._id]">{{blog.heading}}</a></h4>
  <p class='col-sm-4'>By: <a [routerLink] = "['/users', blog.username]">{{blog.username}}</a></p>
  <div class="col-sm-4">
      <p>
        Tags: <span *ngFor='let tag of blog.tags'><a [routerLink] = "['/blogs']" [queryParams] = "{ tag: tag, pn: 0 }">{{tag}} </a></span>
      </p>
  </div>
  <p class="col-sm-4">
    Written On: {{ blog.modifiedDate | date }}
  </p>
</div> -->


<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/assets/css/bootstrap-material-design.min.css">
</head>


<sidebar-left></sidebar-left>

<div class="col-md-3">
    
</div>
<div class="col-md-6">
  
  <div *ngFor='let blog of blogList'>
    <aside class="topic-page topic-list blog-list forum-list">
        <article class="well btn-group-sm clearfix">
  
                <div class="col-sm-10">
  
                        <h4> <a style="color: black!important;" [routerLink] = "['/blog', blog._id]" >{{blog.heading}}</a></h4>
                        <div class="blog-meta clearfix">
                           
                            <!-- <small><a [routerLink] ="['/blog', blog._id]" fragment="comments-section">{{question.answers || 0}} Comments</a></small> -->
                            <small>Written On: {{ blog.modifiedDate | date }}</small>in: 
                            <small><button class="btn btn-sm new"><span *ngFor='let tag of blog.tags'><a [routerLink] = "['/blogs']" [queryParams] = "{ tag: tag, pn: 0 }">{{tag}} </a></span></button></small>
                        </div>
                    
                    </div>
        </article>
        </aside>
  </div>  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- <div  *ngFor='let blog of blogList' class="blog-div row">
  <aside class="topic-page topic-list blog-list forum-list">
      <article class="well btn-group-sm clearfix">
        <div class="col-sm-10">

          <h4><a [routerLink] = "['/blog', blog._id]">{{blog.heading}}</a></h4>
          <div class="blog-meta clearfix">
              <small>Written On: {{ blog.modifiedDate | date }}</small>
              <small>
                Tags: <span *ngFor='let tag of blog.tags'><a [routerLink] = "['/blogs']" [queryParams] = "{ tag: tag, pn: 0 }">{{tag}} </a></span>
              </small>
          </div>
      </div>
        

          <div class="topic-meta ">
              <div class="pull-left">
                  <a class="btn btn-default btn-fab btn-fab-mini" href="#" data-toggle="tooltip" data-placement="bottom" title="Upvote">
                      <i class="material-icons">thumb_up</i>
                  </a>
                  <a class="btn btn-default btn-fab btn-fab-mini" href="#" data-toggle="tooltip" data-placement="bottom" title="Downvote">
                      <i class="material-icons">thumb_down</i>
                  </a>
                  <a class="btn btn-default btn-fab btn-fab-mini" href="#" data-toggle="tooltip" data-placement="bottom" title="Save">
                      <i class="material-icons">bookmark_border</i>
                  </a>
              </div>
            
              <div class="pull-right">
                  <div class="customshare">
                      <div class="list">
                          <div class="btn btn-default btn-fab btn-fab-mini"><i class="material-icons">share</i>
                              <ul class="list-inline">
                                  <li><a href="https://www.skype.com" class="tw"><i class="fa fa-skype"></i></a></li>
                                  <li><a href="https://www.outlook.com" class="fb"><i class="fa fa-envelope"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
           
          </div>
        
      </article>
      </aside>
</div> -->
</div>
<div class="col-md-3">
    
</div>

<sidebar-right></sidebar-right>




